---
layout: base.njk
---

<article>
  <time datetime="{{ page.date | htmlDate }}">{{ page.date | postDate }}</time>
  <h1 class="post-title">{{ title }}</h1>

  <div class="post-tags">
    {%- for tag in tags | filteredTags %}
    {% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
      <a href="{{ tagUrl | url }}">{{ tag }}</a>
    {% endfor %}
  </div>

  <section class="post-body">
    {{ content | safe }}
  </section>
</article>
