---
layout: base.njk
---

<article>
  <h1 class="post-title">{{ title }}</h1>
  <time class="post-date" datetime="{{ page.date | htmlDate }}">{{ page.date | postDateLong }}</time>

  <div class="post-tags">
    {%- for tag in tags | filteredTags %}
    {% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
      <a class="post-tag-token" href="{{ tagUrl | url }}">#{{ tag }}</a>
    {% endfor %}
  </div>

  <section class="post-body">
    {{ content | safe }}
  </section>
</article>
