/**
 * Base
 */

@custom-media --min-width-small (min-width: 425px);
@custom-media --max-width-small (max-width: 424px);
@custom-media --min-width-medium (min-width: 768px);
@custom-media --min-width-large (min-width: 1024px);

:root {
  --content-width: 768px;
  --color-bg-main: #fff9f3;
  --color-bg-button: #634ec8;
  --color-bg-button-hover: #9386d5;
  --color-text-button: #fffffe;

  --color-text-primary: black;
  --color-text-secondary: #6a6a6a;
  --color-text-link: rgb(0, 0, 238);
  --color-text-link-visited: #636;
  --color-text-link-hover: #666;

  --font-size-title: 1.5rem; /* 24px */
  --font-size-post-title: 1.125rem; /* 18px */
  --font-size-post-date: 1rem; /* 16px */
  --font-size-post-token: 0.8rem; /* 16px */
}

html {
  /* https://systemfontstack.com/ */
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial,
    sans-serif;
  background-color: var(--color-bg-main);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  margin: 16px 16px;
  @media (--min-width-small) {
    margin: 40px 24px;
  }
  @media (--min-width-medium) {
    margin: 40px 40px;
  }
  @media (--min-width-large) {
    margin: 40px 80px;
  }
}

header,
main,
footer {
  max-width: var(--content-width);
}

main {
  padding-top: 16px;
  padding-bottom: 20px;
}

img {
  max-width: 100%;
  height: auto;
}

/**
 * Navigation
 */

nav ul {
  list-style: none;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: first baseline;

  gap: 8px;
  @media (--min-width-small) {
    gap: 0px 25px;
  }
}

.nav-item {
  --font-size: 24px;
  --font-size-small: 18px;

  & a {
    color: var(--color-text-primary);
    text-decoration: none;
    &:visited {
      color: var(--color-text-primary);
    }
    &:hover {
      color: var(--color-text-link-hover);
    }
  }

  font-size: var(--font-size);
  font-weight: 500;

  &:first-child {
    text-decoration: underline;
    font-weight: 700;
  }

  /* Layout on two lines if small */
  @media (--max-width-small) {
    &:first-child {
      flex: 100%;
    }
    &:not(:first-child) {
      font-size: var(--font-size-small);
    }
  }
}

/**
 * Main
 */

main {
  margin-top: 0px;
}

.post-year {
  font-size: var(--font-size-title);
  &:not(:first-child) {
    padding-top: 12px;
  }
}

.post-list {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.post-item {
  display: flex;
  flex-direction: row;
  align-items: first baseline;

  padding: 0;
  margin: 8px 0;
}

.post-item-date {
  display: inline-block;
  font-weight: 400;
  font-size: var(--font-size-post-date);
  color: var(--color-text-secondary);
  white-space: nowrap;
  min-width: 3.35em;
}

a.post-item-title {
  text-decoration: none;
  font-weight: 500;
  font-size: var(--font-size-post-title);
  color: var(--color-text-primary);
  margin: 0px 10px;

  &:visited {
    color: var(--color-text-primary);
  }
  &:hover {
    color: var(--color-text-link-hover);
  }
}

a {
  color: var(--color-text-link);
  &:visited {
    color: var(--color-text-link-visited);
  }
}

/**
 * Footer
 */

footer {
  font-weight: 400;
  font-size: 1em;

  & hr + p {
    padding-top: 8px;
  }
}

/**
 * Post body
 */

.post-title {
  font-size: var(--font-size-title);
  margin-bottom: 6px;
}

.post-body {
  line-height: 1.5;

  & p:first-child {
    margin-top: 24px;
  }
  & h2 {
    margin-top: 16px;
  }
}

.post-date {
  color: var(--color-text-secondary);
}

.post-tag-token {
  color: var(--color-text-button);
  background-color: var(--color-bg-button);
  text-decoration: none;
  font-size: var(--font-size-post-token);
  display: inline-block;
  padding: 2px 5px;
  border-radius: 2px;

  &:visited {
    color: var(--color-text-button);
  }
  &:hover {
    background-color: var(--color-bg-button-hover);
  }
}

.post-tags {
  margin: 6px 0px;
}

code:not(pre > code) {
  border-radius: 5px;
  border: 1px solid #bcbec0;
  padding: 2px;
  font: 12px Monaco, Consolas, "Andale  Mono", "DejaVu Sans Mono", monospace;
}
