/**
 * Base
 */

:root {
  --bg-color-main: #fff9f3;
}

html {
  /* https://systemfontstack.com/ */
  font-family: -apple-system, BlinkMacSystemFont, avenir next,
    avenir, segoe ui, helvetica neue, helvetica, Cantarell,
    Ubuntu, roboto, noto, arial, sans-serif;
  background-color: var(--bg-color-main);
}

body {
  margin: 16px 8px;
  @media (min-width: 320px) {
    margin: 40px 16px;
  }
  @media (min-width: 768px) {
    margin: 40px 40px;
  }
  @media (max-width: 1024x) {
    margin: 40px 80px;
  }
}

header, main, footer {
  max-width: 600px;
}

main {
  padding-top: 20px;
  padding-bottom: 40px;
  @media (max-width: 320px) {
    padding-top: 10px;
    padding-bottom: 20px;
  }
}

/**
 * Navigation
 */

nav ul {
  list-style: none;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: first baseline;
  /* align-items: bottom; */
  gap: 0px 25px;

  @media (max-width: 320px) {
    gap: 8px;
  }
}

.nav-item {
  & > a {
    color: black;
    text-decoration: none;
  }

  font-weight: 500;
  font-size: 20px;
  @media (max-width: 320px) {
    font-size: 14px;
  }

  &:first-child {
    text-decoration: underline;
    font-weight: 700;
    font-size: 20px;

    @media (max-width: 320px) {
      flex: 100%;
    }
  }
}

/**
 * Main
 */

main h1 {
  margin-top: 0px;
}

.post-list {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.post-item {
  display: flex;
  flex-direction: row;
  align-items: first baseline;

  padding: 0;
  margin: 8px 0;
}

.post-item-date {
  display: inline-block;
  font-weight: 400;
  font-size: 16px;
  color: #7d7d7d;
  min-width: 60px;
}

a {
  /* color: #118bee; */
}

.post-item-title {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  color: black;

  padding-left: 8px;
  border-left: 4px solid;
  /* border-color: #dddddd; */
  /* border-color: #118bee; */
  border-color: rgb(0, 0, 238, 0.8);

  &:visited {
    border-color: rgb(85, 26, 139, 0.8);
  }
}


/**
 * Footer
 */

footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
}

/**
 *
 */

img {
  max-width: 100%;
  height: auto;
}

