---
layout: base.njk
title: imlzo - home
eleventyNavigation:
  key: imlzo
  order: 1
---

{% for year, posts in collections.postsByYear %}
  <h2 class="post-year">{{ year }}</h2>
  <ul class="post-list">
    {% for post in posts %}
    <li class="post-item">
      <span class="post-item-date">{{ post.date | postDateLong }}</span>
      <a class="post-item-title" href="{{ post.url | url }}">{{ post.data.title }}</a>
    </li>
    {% endfor %}
  </ul>
{% endfor %}

