---
layout: base.njk
title: imlzo - home
---

<ul>
{% for post in collections.post %}
  <li>
    <span>{{ post.date | postDate }}</span>
    <a href="{{ post.url | url }}">{{ post.data.title }}</a>
  </li>
{% endfor %}
</ul>

