---
layout: base.njk
title: imlzo - home
eleventyNavigation:
  key: imlzo
  order: 1
---

<h1>Posts</h1>
<ul>
{% for post in collections.posts | reverse %}
  <li>
    <span>{{ post.date | postDate }}</span>
    <a href="{{ post.url | url }}">{{ post.data.title }}</a>
  </li>
{% endfor %}
</ul>

